<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Applicatie{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('compare') }}">Compare Functie</a>
        <a href="{{ url_for('value_usage') }}">Check Value Usage Functie</a>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
