{% extends 'base.html' %}

{% block title %}Homepagina{% endblock %}

{% block content %}
    <div class="container">
        <h1>Applicatie Homepagina</h1>
        <div class="function-box">
            <h2>Compare Functie</h2>
            <p>De Compare functie helpt je bij het vergelijken van twee verschillende waarden. Voer de waarden in en de applicatie zal je vertellen welke waarde groter is.</p>
            <a href="{{ url_for('compare') }}" class="function-btn">Ga naar Compare Functie</a>
        </div>
        <div class="function-box">
            <h2>Check Value Usage Functie</h2>
            <p>De Check Value Usage functie controleert of een bepaalde waarde in een reeks waarden voorkomt. Voer de waarde en de reeks waarden in, en de applicatie zal je vertellen of de waarde in de reeks voorkomt.</p>
            <a href="{{ url_for('value_usage') }}" class="function-btn">Ga naar Check Value Usage Functie</a>
        </div>
    </div>
{% endblock %}
